.date {
  font-weight: bold;
}

.userList {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}

.highlighted {
  font-weight: bold;
}

.allocated {
  color: green;
}

.interrupted {
  color: salmon;
}
