.toggleButton {
  display: none;
  color: grey;
  background: transparent;
  border: 0;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 767px) {
  .toggleButton {
    display: block;
  }
}
