.header {
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  padding-top: 1.1rem;
}

@media (max-width: 767px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.9rem;
  }
}
