.list {
  display: flex;
  margin-left: 0;
  padding-left: 1rem;
}

.list:last-child {
  margin-left: auto;
}

@media (max-width: 767px) {
  .list {
    flex-direction: column;
    padding: 0;
    margin: 0;
    display: none;
  }

  .list:last-child {
    margin-left: 0;
  }

  .expanded {
    display: flex;
  }
}
